#place-list {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    width: 350px;
    overflow: auto;
}

#place-list .header, #place-list .message {
    padding: 8px;
}

.clearfix {
    clear:both;
}
