.drawer {
    width: 300px;
    min-height: 100%;
    background: transparent;
    position: relative;
    transition: width .3s;
}

.drawer.hidden {
    width: 0px;
}

.place-list {
    background: white;
    overflow: auto;
    padding: 75px 8px 0;
}

.place-list .message {
    padding: 8px;
}

