body,html {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#maps {
    width: 100%;
    height: 100%;
    display: flex;
}

#exploration-map {
    flex: 2;
    height: 100%;
}

#context-map {
    flex: 1;
    height: 100%;
}

