body,html {
    width: 100%;
    height: 100%;
}

#wrapper, #root, .app-wrapper {
    width: 100%;
    height: 100%;
}

#maps {
    width: 100%;
    height: 100%;
    display: flex;
}

#maps.display-context #context-map {
    flex: 1;
}

#exploration-map {
    flex: 2;
    height: 100%;
}

#context-map {
    flex: 0;
    height: 100%;
}

